@charset "UTF-8";  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5em;
  }
  div.logo{
    text-shadow: 2px 5px 5px rgb(21, 21, 138);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  header {
    background-color: #403de2;
    color: white;
    padding: 20px;

  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background 0.3s ease;
  }
  
  .menu a:hover {
    background-color: white;
    color: blue;
    border-radius: 8px;
    transition: 0.8s;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  h1,h2{
    color: rgb(2, 2, 180);
  }
  p,h1,h2{
    margin:10px 10px 20px;
    text-align: justify;
  }
  section.flex-content,section.normal{
    padding: 20px;
  }
  section.flex-content{
    flex-flow: column nowrap;
    display: flex;
    gap: 30px;
  }
  article>div>img{
    max-width: 300px;

    width: 100%;
    border-radius: 20px;

  }
  section.fim{
    padding: 20px;
    line-height: 1.8m;
  }

  /* Agora inicia o flex-box */

  article.text-media{
    gap: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article.media-text{
    gap: 40px;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
  }
  article>div.text{
    flex: 1 1 500px;
  }
  article>div.media{
    flex: 1 0 500px;
  }
  footer{
    background-color: #403de2;
    padding: 10px;
    margin-bottom: 0px;
  }
  footer>p{
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  footer>p>a{
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  /* Mobile responsive styles */
  @media (max-width: 768px) {
    .menu {
      display: none;
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu-icon {
      display: block;
    }
  
    .menu.active {
      display: block;
    }
  }